.nav-item {
    background-color: #1c2b36;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.p-footer {
    background-color: #f0f3f4;
}

.p-btn{
    background-color: #209e91 !important;
    color: #ffffff !important;
}

.p-form {
    margin: 10px;
    padding: 10px;
}

.p-form-label {
    font-size: 18px;
}