<!DOCTYPE HTML>
<html
        lang="pl"
        xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>Java Quiz</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>

</head>
<body>

<nav th:fragment="header" class="navbar navbar-default nav-item">
    <div class="container">
        <div class="navbar-header">
            <span>Java Quiz</span>
        </div>
        <button class="btn btn-default navbar-btn navbar-right p-btn ">Wyloguj</button>
    </div>
</nav>

<div th:fragment="left-menu" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 nav-item">
    <ul class="list-unstyled">
        <li>
            Użytkownicy
        </li>
        <li>
            Pytania
        </li>
        <li>
            Odpowiedzi
        </li>
    </ul>
</div>


<footer th:fragment="footer" class="page-footer font-small p-footer">

    <div class="container">
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <span>Patryk Iwańczyk</span>
        </div>
    </div>

</footer>

</body>
</html>